<div class="container p-4">
    <div class="row">
            <div class="col-md-12 lessons-column">
            <div class="row px-5">
                {{#each links}}
                <div class="col-md-4 center py-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="card-title text-uppercase text-left font-weight-bold">
                                {{Description}}
                            </p>
                            <div>
                                <iframe class="embed-responsive-item" frameborder="0" width="100%" height="auto" src="{{Url}}" allowfullscreen></iframe>
                            </div>
                            <p>
                                Качен на {{ formattedDate }}
                            </p>
                            {{#if ../isAdmin}}
                            <a href="/links/edit/{{ID}}" class="btn btn-secondary">Промени</a>
                            <a href="/links/delete/{{ID}}" class="btn btn-danger">Изтрий</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p class="card-title">Няма налични видео уроци</p>
                        <a href="/links/add" class="btn btn-success">Добави видео урок</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
